{% include 'header.html' %}
<head>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script>
     $( function() {
    var dateFormat = "dd-mm-yy",
      from = $( "#from" )
        .datepicker({
            changeMonth: true,
            changeYear: true,
        })
        .on( "change", function() {
          to.datepicker( "option", "minDate", getDate( this ) );
        }),
      to = $( "#to" ).datepicker({
           changeMonth: true,
           changeYear: true
      })
      .on( "change", function() {
        from.datepicker( "option", "maxDate", getDate( this ) );
      });

    function getDate( element ) {
      var date;
      try {
        date = $.datepicker.parseDate( dateFormat, element.value );
      } catch( error ) {
        date = null;
      }
      return date;
    }
  } );
    </script>
</head>
<body>
<div class="container">
    <h3>Buscar en la Tabla Empleado por Fecha de Contratación</h3>
    <h4 class="text-danger">
  {{  message }}
</h4>
<form action="/tabla-sencilla/tipo3" method="post">
    <div class="form-group">
        <p>Desde: <input type="text" id="from" name="from"></p>
        <p>Hasta: <input type="text" id="to" name="to"></p>
    </div>
    <input type="submit" class="btn btn-primary" value="Descargar"/>
</form>
</div>